@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --font-base: 16px;
  --font-weight-medium: 500;
  --font-weight-extra-bold: 900;

  --radius-lg: 1rem;
  --radius-md: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  height: 100dvh;
  background-color: var(--color-yellow);
  font-family: 'Figtree', system-ui;
  font-size: var(--font-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  width: min(350px, 90vw);
  background-color: var(--color-white);
  border: 1px solid var(--gray-950);
  padding: 1.2rem;
  border-radius: var(--radius-lg);
  box-shadow: 8px 8px 0 var(--gray-950);
}

.blog-card__img {
  width: 100%;
  height: auto;
  border-radius: var(--radius-md);
  margin-bottom: 1.4rem;
}

.blog-card__pill {
  display: inline-block;
  background-color: var(--color-yellow);
  padding: 0.35rem 0.75rem;
  border-radius: 6px;
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 0.75rem;
}

.blog-card__date {
  color: var(--gray-950);
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.blog-card__heading a {
  color: inherit;
  text-decoration: none;
}

.blog-card__heading {
  font-size: 1.4rem;
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 1rem;
  cursor: pointer;
}

.blog-card__heading:hover {
  color: var(--color-yellow);
}

.blog-card__text {
  color: var(--gray-500);
  line-height: 1.5;
  margin-bottom: 1.4rem;
}

.blog-card__footer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog-card__footer-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.blog-card__footer-name {
  font-weight: var(--font-weight-extra-bold);
}
