:root {
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--slate-300);
}

.qr-card {
  background-color: white;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

.qr-card__img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.qr-card__heading {
  font-size: 1.375rem;
  font-weight: 700;
  color: var(--slate-900);
  margin: 24px 0 16px;
}

.qr-card__text {
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--slate-500);
  line-height: 1.4;
  margin: 0 16px 24px;
}
