@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: hsl(0, 0%, 8%);
  --color-surface: hsl(0, 0%, 12%);
  --color-primary: hsl(0, 0%, 20%);
  --color-secondary: hsl(75, 94%, 57%);
  --color-text: hsl(0, 0%, 100%);
  --base-font-size: 14px;
  --font-weight-normal: 400;
  --font-weight-md: 600;
  --font-weight-lg: 700;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-text);
  min-height: 100dvh;
  background-color: var(--color-bg);
  font-size: var(--base-font-size);
  line-height: 1.5;
  display: grid;
  place-items: center;
}

.profile-card {
  background-color: var(--color-surface);
  width: min(384px, 90vw);
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile-card__avatar {
  border-radius: 50%;
  display: block;
}

.profile-card__name {
  font-size: 1.7rem;
  font-weight: var(--font-weight-normal);
}

.profile-card__address {
  font-style: normal;
  color: var(--color-secondary);
  font-weight: var(--font-weight-md);
}

.profile-card__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  width: 100%;
}

.profile-card__link {
  background-color: var(--color-primary);
  color: inherit;
  border-radius: 8px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-block: 8px;
  font-weight: var(--font-weight-md);
}

.profile-card__link:hover {
  background-color: var(--color-secondary);
  color: var(--color-bg);
}
